# No Arbitrage Pricing

Open interest is the total number of outstanding contracts (either long or short) in a futures market.

Volumn counts the number of futures trades.

The settlement price in a futures market is the price used by the exchange to determine the daily profit or loss, margin requirements, and, in some cases, the final value of a futures contract at expiration.

In [25]:
from math import exp, log

In [20]:
def cal_dolloar_profit(sell_price, buy_price, t, r=0, fee=0):
    return sell_price - buy_price * exp(r*t) - fee
cal_dolloar_profit(268, 250, 1, 0.03)

10.386366511620793

In [1]:
def forward_payoff(S_T, F, type='long'):
    """
    S_T: price of the underlying asset at time T
    F: forward price, i.e. pre-agreed price of the underlying asset at time T
    """
    if type == 'long':
        return S_T - F
    else:
        return F - S_T

Call option: give owner the right to buy an asset in the future with cost $C, and at strike price $K (sometimes denoted by $X) set today. The owner of the option has rights, while sell is obligated to sell when exercised.

Put option: give owner the right to sell in the future with cost $P, and at strike price (sometimes denoted by $X) set today. The owner of the option has rights, the seller of a put option is obligated to buy if excercised.

In [ ]:
def cal_fv(pv, r, t):
    """
    pv: present value
    r: continious interest rate
    t: time period in years
    """
    return pv * exp(r*t)

In [ ]:
def call_payoff(S_T, K, type='long'):
    """
    S_T: price of the underlying asset at time T
    K: strike price
    """
    if type == 'long':
        return max(S_T - K, 0)
    else:
        return -max(S_T - K, 0)

def call_profit(S_T, K, fv_cost, type='long'):
    if type == 'long':
        return call_payoff(S_T, K, type) - fv_cost # notice that this is future value! Should be adjusted!!
    else:
        return call_payoff(S_T, K, type) + fv_cost

In [ ]:
def put_payoff(S_T, K, type='long'):
    """
    S_T: price of the underlying asset at time T
    K: strike price
    """
    if type == 'long':
        return max(K - S_T, 0)
    else:
        return -max(K - S_T, 0)

def put_profit(S_T, K, fv_cost, type='long'):
    if type == 'long':
        return put_payoff(S_T, K, type) - fv_cost
    else:
        return put_payoff(S_T, K, type) + fv_cost

spot market

forward market

option market


<img src="image.png" alt="Alt text" width="500">

In [73]:
1/12/30

0.0027777777777777775

In [12]:
def spot_to_forward(S_0, r, t, q=0, D=0):
    """
    S_0: spot price of the underlying asset
    r: risk-free rate
    t: time to maturity
    q: dividend yield
    D: dividend
    """
    return (S_0-D) * exp((r - q) * t)
S_0 = 3056.65
q = 0.0196
t = 9/12
r = 0.025
D = 0
F = spot_to_forward(S_0, r, t, q, D)
F

3069.054534727379

In [76]:
S_0 = 78.8
q = 0
t = 9/12
r = 0.03
D = 0
F = spot_to_forward(S_0, r, t, q, D)
F

80.59309669215834

In [77]:
S_0 = 122
q = 0
t = 6/12
r = 0.04
D = 0
F = spot_to_forward(S_0, r, t, q, D)
F

124.4645634832642

In [78]:
122 * exp(0.04*0.5)

124.4645634832642

In [9]:
def spot_to_forward_varidiv(S_0, r, t, D, t_D, q=0):
    """
    S_0: spot price of the underlying asset
    r: risk-free rate
    t: time to maturity
    D: list of dividends
    t_D: list of time to dividends, in annual fraction
    """
    F = S_0 * exp((r - q) * t)
    for i in range(len(D)):
        F -= D[i] * exp((r-q) * t_D[i])
    return F
S_0 = 43.62
D = [0.72, 0.72]
t_D = [63/365, 154/365]
r = 0.025
t = 0.5
spot_to_forward_varidiv(S_0, r, t, D, t_D)

42.71792377906166

In [50]:
def continuous_to_apr(r):
    """
    Converts a continuously compounded annual rate to an Annual Percentage Rate (APR).
    :param r: Continuous annual rate (as a decimal)
    :return: APR (as a decimal)
    """
    return exp(r) - 1

def apr_to_t_period(apr, t):
    """
    Converts an APR to the equivalent periodic rate for t compounding periods per year.
    :param apr: Annual Percentage Rate (as a decimal)
    :param t: Number of compounding periods per year (e.g., 12 for monthly)
    :return: Periodic rate (as a decimal)
    """
    return apr / t

In [60]:
def spot_to_forward_with_store_cost(S_0, r, t, c=0, t_c=1, q=0, D=0):
    """
    S_0: spot price of the underlying asset
    r: risk-free rate
    t: time to maturity
    q: dividend yield
    D: dividend
    c: cost of carry
    t_c: time to carry cost, in annual fraction
    """

    F = S_0 * exp((r - q) * t)
    for i in range(int(t/t_c)):
        F += c * exp((r-q) * (t-i*t_c))
    return F
S_0 = 1522
c = 1.52
t_c = 1/12
r = 0.025
t = 0.5
spot_to_forward_with_store_cost(S_0, r, t, c, t_c)

1550.3312044313766

In [13]:
def forward_to_spot(F, r, t, q=0, D=0, c=0):
    """
    F: forward price
    r: risk-free rate
    t: time to maturity
    q: dividend yield
    D: dividend
    c: storage cost per unit, annualized
    """
    return F * exp((q - r) * t) + D - c
F = 3072.22
q = 0.0196
r = 0.025
t = 22/365
forward_to_spot(F, r, t, q)

3071.2202182308456

In [ ]:
S_0 = 43.62

25.790339917192796

In [84]:
S_0 = 68.75
K = 70
p = 3.45
r = 0.03
t = 1
def cal_call_price_from_put(S_0, K, p, r, t):
    """
    S_0: spot price of the underlying asset
    K: strike price
    p: put price
    r: risk-free rate
    t: time to maturity
    """
    return p + S_0 - K * exp(-r*t)
cal_call_price_from_put(S_0, K, p, r, t)

4.268812651604435

# Binomial and BSM Pricing

We need to know something about the 'price process' - or how prices evolve through time, because ultimately the price of a call option depends on 

1. the probability that ST > K,

2. E(ST | ST > K)

## Binomial

In [64]:
import pandas as pd

In [72]:
5*0.4872*(1-0.4872)**4

0.16844935407542097

In [ ]:
def binomial_pricing(S_0, u, d, t_max=10):
    """
    S_0: spot price of the underlying asset
    u: up movement
    d: down movement
    t: time to maturity
    """
    # build a table to store the price of the underlying asset
    # with j as the number of times of up movement, t_max - j as the number of times of down movement
    df = pd.DataFrame(index=range(t_max+1), columns=range(t_max+1))
    df.iloc[0, 0] = S_0
    for j in range(1, t_max+1):
        df.iloc[j, 0] = df.iloc[j-1, 0] * u
        for i in range(1, j+1):
            df.iloc[j, i] = df.iloc[j-1, i-1] * d
    return df
S_0 = 24
x = 0.02
t_max = 10
# row is the time period, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
# column is the number of down movement, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
binomial_pricing(S_0, x, t_max)

,0,1,2,3,4,5,6,7,8,9,10
0,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,24.48,23.529412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,24.9696,24.0,23.068051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25.468992,24.48,23.529412,22.615736,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,25.978372,24.9696,24.0,23.068051,22.17229,NaN,NaN,NaN,NaN,NaN,NaN
5,26.497939,25.468992,24.48,23.529412,22.615736,21.737539,NaN,NaN,NaN,NaN,NaN
6,27.027898,25.978372,24.9696,24.0,23.068051,22.17229,21.311313,NaN,NaN,NaN,NaN
7,27.568456,26.497939,25.468992,24.48,23.529412,22.615736,21.737539,20.893444,NaN,NaN,NaN
8,28.119825,27.027898,25.978372,24.9696,24.0,23.068051,22.17229,21.311313,20.483769,NaN,NaN
9,28.682222,27.568456,26.497939,25.468992,24.48,23.529412,22.615736,21.737539,20.893444,20.082126,NaN
10,29.255866,28.119825,27.027898,25.978372,24.9696,24.0,23.068051,22.17229,21.311313,20.483769,19.688359

In [ ]:
S_0 = 36
x = 0.02
t_max = 10
# row is the time period, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
# column is the number of down movement, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
binomial_pricing(S_0, u, d, t_max)

In [69]:
# from annual return variance to time-t period standard deviation
def annual_var_to_period_t_std(var, t):
    sd = var ** 0.5
    t_component = t ** 0.5
    return sd * t_component

annual_var = 0.1024
t = 6/12 # i.e. 6 months
annual_var_to_period_t_std(annual_var, t)

0.22627416997969524

In [ ]:
# after calculating time-t-period standard deviation,
# we can calculate the u and d, the up and down factors
def cal_period_volatility_from_period_std(std):
    u = exp(std)
    d = 1/u
    return u, d

In [81]:
import math

def calculate_call_option(S0, K, r, T, sigma, n):
    # Step 1: Calculate h, u, and d
    h = T / n
    u = math.exp(sigma * math.sqrt(h))
    d = 1 / u
    
    # Step 2: Calculate p and 1-p
    p = (math.exp(r * h) - d) / (u - d)
    q = 1 - p
    
    # Step 3: Calculate Su_n, Cu_n recursively
    option_payoffs = []
    for j in range(n + 1):
        S = S0 * (u ** (n - j)) * (d ** j)
        C = max(0, S - K)  # Payoff for call option
        option_payoffs.append(C)
    
    # Step 4: Back-propagate to find the option value at t=0
    for i in range(n - 1, -1, -1):
        for j in range(i + 1):
            option_payoffs[j] = math.exp(-r * h) * (p * option_payoffs[j] + q * option_payoffs[j + 1])
    
    # The option value at t=0 is at the first position
    return round(option_payoffs[0], 2)

# Example parameters
S0 = 42  # Current stock price
K = 44   # Strike price
r = 0.03  # Annual risk-free interest rate
T = 0.75  # Time to maturity in years (9 months)
sigma = 0.35  # Annual volatility
n = 5  # Number of steps

# Calculate call option value
call_option_value = calculate_call_option(S0, K, r, T, sigma, n)
print("Call Option Value:", call_option_value)

Call Option Value: 4.82

In [82]:
S = 36          # Current stock price
K = 35          # Strike price
T = 3 / 12      # Time to maturity in years (3 months)
r = 0.04        # Risk-free rate
sigma = 0.35    # Volatility
n = 3           # Number of steps

option_price = calculate_call_option(S, K, r, T, sigma, n)
print(f"The value of the American call option is: {option_price:.2f}")

The value of the American call option is: 3.37

## BSM

In [74]:
import math
from scipy.stats import norm

def bsm_call_price(S, K, r, t, sigma):
    """
    Calculate the Black-Scholes-Merton call option price.

    Parameters:
    S (float): Current stock price
    K (float): Strike price
    r (float): Risk-free interest rate (annualized)
    t (float): Time to maturity (in years)
    sigma (float): Volatility of the stock (annualized)

    Returns:
    float: Call option price
    """
    # Calculate d1 and d2
    d1 = (math.log(S / K) + (r + 0.5 * sigma ** 2) * t) / (sigma * math.sqrt(t))
    d2 = d1 - sigma * math.sqrt(t)
    
    # Calculate the call price
    call_price = S * norm.cdf(d1) - K * math.exp(-r * t) * norm.cdf(d2)
    return call_price

# Example usage
S = 100  # Current stock price
K = 105  # Strike price
r = 0.05  # Risk-free interest rate
t = 1     # Time to maturity (1 year)
sigma = 0.2  # Volatility (20%)

call_price = bsm_call_price(S, K, r, t, sigma)
print(f"Call Option Price: {call_price:.2f}")
print(bsm_call_price(S, K, r, t, sigma+0.1))

Call Option Price: 8.02
11.976881462184032

In [86]:
K = 30
r = 0.03
t = 0.5
S = 32
d1 = 0.44513
d2 = 0.19764
call_price = S * norm.cdf(d1) - K * math.exp(-r * t) * norm.cdf(d2)
print(f"The value of the put option is: ${call_price}")

The value of the put option is: $4.408597412034155

In [90]:
from math import exp
from scipy.stats import norm

def calculate_put_option_price(K, r, t, S, d1, d2):
    """
    Calculate the price of a put option using the Black-Scholes-Merton formula.

    Parameters:
    K (float): Strike price
    r (float): Risk-free interest rate
    t (float): Time to maturity (in years)
    S (float): Current stock price
    d1 (float): d1 value
    d2 (float): d2 value

    Returns:
    float: Put option price
    """
    # P = K * exp(-r * t) * N(-d2) - S * N(-d1)
    put_price = K * exp(-r * t) * norm.cdf(-d2) - S * norm.cdf(-d1)
    return put_price

# Given parameters
K = 30
r = 0.03
t = 0.5
S = 32
d1 = 0.44513
d2 = 0.19764

# Calculate put option price
put_price = calculate_put_option_price(K, r, t, S, d1, d2)
print(f"The price of the put option is: {put_price:.2f}")

The price of the put option is: 1.96

In [91]:
from math import exp
from scipy.stats import norm

def expected_payoff_put_in_the_money(K, r, t, S, d1, d2):
    """
    Calculate the expected payoff of a put option conditional on it expiring in the money (S_T < K).

    Parameters:
    K (float): Strike price
    r (float): Risk-free interest rate
    t (float): Time to maturity (in years)
    S (float): Current stock price
    d1 (float): d1 value
    d2 (float): d2 value

    Returns:
    float: Expected payoff of the put option (conditional on S_T < K)
    """
    # Expected payoff = K * N(-d2) - S * exp(-r * t) * N(-d1)
    expected_payoff = K * norm.cdf(-d2) - S * exp(-r * t) * norm.cdf(-d1)
    return expected_payoff

# Given parameters
K = 30
r = 0.03
t = 0.5
S = 32
d1 = 0.44513
d2 = 0.19764

# Calculate expected payoff
expected_payoff = expected_payoff_put_in_the_money(K, r, t, S, d1, d2)
print(f"The expected payoff of the put option (conditional on S_T < K) is: {expected_payoff:.2f}")

The expected payoff of the put option (conditional on S_T < K) is: 2.31